.navbar-header {
  padding: 10px;
  background-color: deepskyblue;
  color: #fff;
  display: flex;
  align-items: center; /* Vertically aligns items */
  justify-content: space-between; /* Ensures proper spacing between image and text */
}

.image {
  width: 150px;
  height: 80px;
  margin-right: 20px; /* Adds space between image and text */
}

.navbar-text {
  display: flex;
  flex-direction: column;
  align-items: center; /* Horizontally centers the text */
  text-align: center; /* Centers text within the container */
  flex-grow: 1; /* Allows text to take up the remaining space */
}

.navbar-username {
  font-size: 14px;
  color: white;
}
